################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharpWeb.Runtime/bin
/CSharpWeb.Runtime/obj
/CSharpWeb.Runtime/.vs
/CSharpWebApplication1/bin
/CSharpWebApplication1/obj
/CSharpWebApplication1/.vs
/CSharpWebApplication1/Properties/launchSettings.json
*.user

