################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Blazor.Runtime/bin
/Blazor.Runtime/obj
/Blazor.Runtime/.vs
