################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Blazor.Runtime/bin
/Blazor.Runtime/obj
/Blazor.Runtime/.vs
/BlazorApplication1/bin
/BlazorApplication1/obj
/BlazorApplication1/.vs
/BlazorApplication1/Properties/launchSettings.json
*.user

